.hamburger-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #635F85;
}




@media (max-width: 920px) {
    .footer{
        height: 100%;
    }
    .footer_section{
        gap: 30px;
    }
}


/* Responsive style */
@media (max-width: 854px) {
    .menu_resize{
        display: none;
    }
    .menu {
        display: none;
        flex-direction: column; 
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: white;
        /* text-align: center; */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .menu.show {
        display: flex;
        margin-top: 10px;
    }

    .hamburger-icon {
        display: flex;
        /* width: 30%; */
        justify-content: center;
    }
    /* box-content */
    .box_content{
        display: block;
    }
    /* logo_under */
    .logo_under{
        display: none;
    }
    /* footer */
    footer{
        height: 100%;
    }
    .footer_section{
        margin-top: 40px;
        display: block;
        height: 100%;
    }
    /* newsletter */
    .newsletter_container{
        display: block;
        width: 90%;
    }
    .newsletter{
        display: flex;
        justify-content: center;
    }
    .text_newsletter_box{
        margin-left: 30px;
        margin-top: 30px;
    }
    /* card_content */
    .card_content{
        width: 100%;
        height: 100%;
    }
    .card_body{
        height: 100%;
    }
    .card_body_2{
        height: 100%;
    }
    .card_body_2 h3{
        font-size: 17px;
    }
    .card_body_2 p{
        font-size: 12px;
    }
    .card_body_2 img {
        height: 100%;
    }
    /* .card_content_header {
        width: 100%;
        height: 100%;
    } */
     .text{
        /* display: block; */
        width: 100%;
        margin-left: 0;
     }
     .text section{
        width: 100%;
     }
     .text_box{
        /* margin-left: 10px; */
        /* padding-left: ; */
        width: 75%;
     }
    .text_box_resize{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navigation_text{
        width: 75%;
    }
    /* .navigation_text_resize{
    } */
    .navigation{
        /* width: 100%; */
        display: flex;
        /* justify-content: center; */
        /* gap: 10px; */
        /* box-sizing: border-box;   */
     }
    .navigation_text_resize{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 90%;
    }
    .card_resize{
        display: flex;
        justify-content: center;
    }
    .text_newsletter_box_resize{
        width: 100%;
    }
    /* //button_header */
    .button_header{
        display: flex;
        justify-content: center;
        transition: 0;

    }
    .button_header button{
        width: 100%;
        /* font-size: 12px; */
        white-space: nowrap;
        transition: 0;

    }
    
    .login{
        width: 100%;
    }
    .sign_up{
        width: 100%;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    /* .video_box{
        width: 100%;
    } */
    .video_box video{
        width: 90%;
    }
    .email_form_box{
        width: 90%;
    }
    .email_button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .signup_popup .form{
        min-width: 300px;
        /* box-sizing: border-box; */
        transition: all 0.4 ease-in-out;
        left: 45%;
    }

}
@media (max-width: 500px) {
    .newsletter h1{
        font-size: 30px;
    }
    .newsletter p{
        font-size: 14px;
    }
    .text{
        margin-top: 0;
        height: 100%;
    }
    .text_newsletter_box_resize p{
        white-space: normal;
        /* width: 100%; */

    }
    /* .text_newsletter_box{
        margin-top: 0;
        margin-left: 0;
    } */
    .text_newsletter{
        width: 100%;
    }
    .email_button{
        width: 100%;
    }
    .email_form_box  input{
        width: 100%;
    }
    .button_header button{
        font-size: 12px;
        transition: 0;

    }
    .logo h3{
        margin-left: 0;
    
    }
    /* .logo{} */

}
@media (max-width: 460px) {
    .button_header button{
        font-size: 12px;
        transition: 0;
    }
    .card{
        display: flex;
        flex-direction: column;
        width: 84%;
    }
    .card_body_content_2 img{
        width: 100%;
    }
    .card_body_2{
        width: 100%;
    }
   
}
@media (max-width: 435px) {
    body {
        width: 400px;
        overflow-x: hidden;
    }
    .text_watch_video{
        display: none;
    }
    .menu.show{
        width: 400px;
    }

    /* SidebarMenu cho mobie */
    .menu {
        display: flex;
        position: fixed;
        top: 0;
        left: -400px; /* Đưa menu ra ngoài màn hình */
        width: 300px;
        height: 100%;
        background-color: #fff;
        box-shadow: 2px 0 5px rgba(0,0,0,0.3);
        transition: left 0.3s ease; /* Thay đổi hiệu ứng chuyển đổi */
        z-index: 1000;
        flex-direction: column;
        justify-content: right;
        align-items: start;
        padding: 20px;
    }
    .menu.show {
        left: 0; /* Hiển thị menu khi kéo vào */
        width: 300px;
        margin-top: 0px
    }
    .menu.show p{
        color: #F67102;
        font-size: 18px;
        padding-bottom: 10px;
    }
    .menu_title{
        display: block;
        border-bottom: 1px solid rgb(213, 210, 210);
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .menu_icon_container {
        display: block; /* Hiển thị hamburger icon */
    }
    
    .hamburger-icon {
        display: flex;
    }
    
}
    @media (max-width: 435px) {
        body{
            max-width: 435px;
        }

    }
    /* class="text_newsletter_box" */


