*,body{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    /* background: #FFFFFF; */
}
button{
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

/* Header */

header{
    /* padding-left: 100px;
    padding-right: 100px; */
}
.navigation_text_resize{
    display: flex;
    /* justify-content: center; */
    /* width: 100%; */
}
.navigation{
    /* margin-top: 50px; */
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    /* justify-content: center; */
    color: #635F85;
    /* justify-content: center; */
    width: 100%;
    height: 50px;
}

/* Logo */
.logo{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 20%;
    justify-content: end;
    /* background-color: #4CAF50; */
}
.logo h3{
    color: #051441;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: 20.04px;
}
.dot{
    width: 2px;
    height: 2px;
    background-color: #FF7D00;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-left: 1px;
}


/* Menu */

.menu{
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    transition: .4s ease-in-out;
    box-sizing: border-box;
    width: 50%;
    justify-content: center;
    /* background-color: black; */
}
.menu a{
    text-decoration: none;
    color: #635F85;

}
.menu .why_us{
    white-space: nowrap;

}

.home a, .why_us a, .freatures a, .pricing a, .contact a{
    position: relative;
    text-decoration: none;
    width: 0;
}
.home a::after, .why_us a::after, .freatures a::after, .pricing a::after, .contact a::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 3px;
    background-color: #FF7D00;
    transition: width 0.3s ease;
    /* color: #FF7D00;  */
}
.home a:hover::after, .why_us a:hover::after, .freatures a:hover::after, .pricing a:hover::after, .contact a:hover::after{
   width: 15px; 
}
.home a:hover, .why_us a:hover, .freatures a:hover, .pricing a:hover, .contact a:hover{
    color: #FF7D00;
}





 
.button_header{
    display: flex;
    gap: 10px;
    border-radius: 25px;
    box-sizing: border-box;
    width: 30%;
    justify-content: start;
    /* background-color: red; */
    /* flex: 0 1 auto;  */

}
.button_header button{
    width: 112px;
    height: 50px;
    border-radius: 25px;
    opacity: 0px;
    

}
.loginButton{
    transition: all 0.5s ease;
}
/* .account-container{
} */
/* .accountName{
} */
.login button{
    border: 2px solid #E7E7E7;
    color: #F5830B;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    /* transition: all 0.5s ease; */


}
.sign_up button{
    border: none;
    background: linear-gradient(103.38deg, #F67102 5.1%, #F4A91E 86.29%);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.login button:hover{
    box-shadow: 0 10px 20px rgba(3, 50, 125, 0.3);
    transition: all 0.5s ease;
}
.login button:active{
    transform: translateY(5px);
    transition: all 0.2s ease; 
    box-shadow: none;
}
.sign_up button:hover{
    box-shadow: 0 10px 20px rgba(3, 50, 125, 0.3);
    transition: all 0.5s ease;
}
.sign_up button:active{
    transform: translateY(5px);
    transition: all 0.2s ease; 
    box-shadow: none;

}
.text h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    }
.box_content{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    
}
.box_content .text p,h1,h2{
    margin-top: 10px;
}
.box_content .h1{
    font-family: Poppins;
    font-size: 50px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;

}
.box_content .text p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;

}
.box_content .text_title{
    color: #FF7D00;
    
}
.text{
    margin-top: 100px;
    margin-left: 50px;
    width: 496px;
    height: 366px;
  
    opacity: 0px;

}
.text_box{
    width: 100%;
}
.navigation_text{
    display: flex;
    gap: 30px;
}
.card_content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 690px;
    height: 573px;
}
.card_content img{
    width: 100%;
}

.logo_under{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 70px; */
    height: 186px;
    background: #F4F7FD;
    margin-top: 50px;
    width: 100%;
}
#logo_under_img{
    /* width: 100%; */
}

.service_section{
    margin-top: 100px;
}
.nav {
    position: absolute;
    /* top: 50%; */
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}
.card_body:hover, .card_body_2:hover{
    background-color: #FFFFFF;
    box-shadow: 0px 24px 60px 0px #3b4d5d1a;
    border-radius: 17px;
    transition: all 0.5s ease;

}
.card_body_2:hover h3{
    color: #F58C11;
    transition: all 0.5s ease;

}
.text_service{
    text-align: center;
}
.card{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
}
.card_body{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    width: 334px;
    height: 334px;
    border: 2px solid #EDEFF6;
    border-radius: 13px 0px 0px 0px;
    /* gap: 100px; */
    
    
}
.card_body_content{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.card_body_content img{
    width: 67px;
    height: 67px;
}
.card_body_2{
    width: 354px;
    height: 483px;
    top: 227px;
    gap: 0px;
    border-radius: 17px 17px 0px 0px;
    opacity: 0px;

}
.card_body_content_2 img{
    width: 100%;
    height: 322px;
    border-radius: 17px 17px 0px 0px;
}
.card_body_content_2 h3, .card_body_content_2 p{
    margin-top: 20px;
    margin-left: 20px;
}
.card_body_content_2 h3{
    color: #051441;
}

.card_body_content h3{
 margin-top: 25px;
}
.card_body_content p{
    margin-top: 20px;
}

.button_get, .button_circle, .text_watch_video{
    margin-top: 40px;
}
.text_watch_video{
    display: flex;
    align-items: center;
}
.button_circle{
    width: 59px;
    height: 59px;
    border-radius: 50%;
    box-shadow: 0px 17px 25px 0px #8C8D921F;
}
.button_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    padding-top: 3px;
    border: none;
    background-color: transparent;
}
.button_watch_video button:hover{
    box-shadow: 0 10px 20px rgba(3, 50, 125, 0.3);
    transition: all 0.5s ease;
}
.button_watch_video button:active{
    transform: translateY(5px);
    transition: all 0.2s ease; 
    box-shadow: none;

}
.button_get button{
    background: linear-gradient(97.61deg, #F67906 0.67%, #F4A81D 89.89%);
    width: 149px;
    height: 56px;
    border: none;
    border-radius: 41px;
    opacity: 0px;
    color: #FFFFFF;
}
.button_get button:hover{
    box-shadow: 0 10px 20px rgba(3, 50, 125, 0.3);
    transition: all 0.5s ease;
}
.button_get button:active{
    transform: translateY(5px);
    transition: all 0.2s ease; 
    box-shadow: none;

}
.text_feedback{
    display: flex;
    align-items: center;
    gap: 10px;
}
.text_feedback img{
    margin-top: 6px;
    width: 21px;
    height: 21px;
}

/* newsletter */
.newsletter{
    display: flex;
    justify-content: center;
    margin-top: 140px;
    margin-bottom: 140px;

}
.newsletter h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
}
.newsletter p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #787E86;
}
.newsletter_container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: end; */
    width: 1130px;
    height: 382px;
    border-radius: 67px;
    opacity: 0px;
    background: #F4F6FD;
}
.text_newsletter{
    width: 404px;
    height: 189px;
    gap: 0px;
    opacity: 0px;

}
.email_form_box{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 26.5px;
    /* padding: 10px 20px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
}
#error_form_subscrise{
    display: none;
    font-size: 12px;
    color: red;
    padding-left: 10px;
    padding-top: 0;
}
#correct{
    display: none;
    font-size: 12px;
    color: green;
    padding-left: 10px;
    padding-top: 0;
}
.email_form_box input[type='email']{
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 26.5px;
}
.email_form_box button{
    background: linear-gradient(95.93deg, #F67102 22.34%, #F4AC22 103.2%);
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.email_form_box button:hover{
    box-shadow: 0 10px 20px rgba(3, 50, 125, 0.3);
    transition: all 0.5s ease;
}


/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #052347;
    color: #D9E1F0;
    height: 449px;
    width: 100%;
}

footer a{
    color: #AFACCD;
    font-size: 14px;
}
.footer_logo{
    /* flex: 1 1 auto; */
    /* margin-bottom: 10px; */
}
.footer_logo_resize{
    margin-bottom: 20px;
    display: flex;
}
.footer_logo a{
    color: #D9E1F0;
    font-size: 16px;
    margin-left: 10px;
}
.footer_service, .footer_support, .footer_contact_us{
    line-height: 2.3;
    font-size: 18px;
    /* flex: 0 1 auto; */
}
.footer_service h4, .footer_support h4, .footer_contact_us h4{
    padding-bottom: 10px;
}
.footer_support{
    /* flex: 0 1 auto; */
}
.footer_contact_us{
    /* flex: 0 1 auto; */
}
.footer_section{
    display: flex;
    gap: 50px;
    /* width: 100%; */
}

.footer_logo_description{
    width: 235px;
    /* height: 64.56px; */
    height: 100%;
    gap: 0px;
    opacity: 0px;
}
.footer_logo_resize{
    width: 400px;
}
.footer_logo_resize section{
    width: 290px;
}
.social_icon{
    display: flex;
    gap: 12px;
    margin-top: 27.43px;
}

.video_box{
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: none;
}
.video_box video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    /* width: 100%; */
    border-radius: 5px;
    border: 3px solid #fff;
    object-fit: cover;
}

/* .video_box span{
    position: absolute;
    top: 50px;
    right: 120px;
    color: black;
    font-size: 50px;
    font-weight: bolder;
    z-index: 100;
    cursor: pointer;
}
 */
.account-container {
    position: relative;
    display: inline-block;
    /* transition: .4s ease-in-out;  */
    padding-top: 12px;


}

#accountOptions {
    position: absolute;
    width: 5rem;
    top: 100%; 
    left: 0;
    display: none;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
    /* padding: 10px; */
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    z-index: 1;
    font-size: 15px;
}

#accountOptions ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#accountOptions ul li {
    /* padding: 8px; */
    text-align: center;
    cursor: pointer;
}

#accountOptions ul li:hover {
    background-color: #f1f1f1;
}
.popup {
    display: none;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

/* Sign Up Popup */
/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    color: #333;
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
  } */
  .main {
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
  .form {
    width: 360px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
  }
  .form .heading {
    font-size: 1.7rem;
  }
  .form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
  }
  
  .form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
  }
  
  .form-label,
  .form-message {
    text-align: left;
  }
  
  .form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1rem;
  }
  
  .form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 0.9rem;
  }
  
  .form-control:hover {
    border-color: #F67102   ;
  }
  
  .form-group.invalid .form-control {
    border-color: #f33a58;
  }
  
  .form-group.invalid .form-message {
    color: #f33a58;
  }
  
  .form-message {
    font-size: 0.8rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
  }
  
  .form-submit {
    outline: none;
    background-color: #F67102;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .form-submit:hover {
    background-color: #F67102;
  }
  
  .spacer {
    margin-top: 36px;
  }

  .signup_popup{
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: none;
  }
  .signup_popup form{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32%;
    /* width: 100%; */
    border-radius: 5px;
    border: 3px solid #fff;
    object-fit: cover;
  }

  /* MENU ICON */
  /* .container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #485563;
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    background: linear-gradient(to right, #29323c, #485563);
    display: flex;
    justify-content: center;
    align-items: center;
  }
   */
  .hamburger-icon {
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 10;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 5px 0; */
    line-height: 0%;
  }
  
  .hamburger-icon span {
    position: absolute;
    display: block;
    height: 0.15rem;
    width: 35px;
    background-color: #635F85;
    transform: rotate(0);
    transition: all 80ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    margin-top: 11px;
  }
  
  .hamburger-icon span.one {
    top: 0px;
  }
  
  .hamburger-icon span.two {
    top: 14px;
  }
  
  .hamburger-icon span.three {
    top: 28px;
  }
  .clicked .one {
    transform: translateY(15px) rotate(45deg);
  }
  
  .clicked .two {
    opacity: 0;
  }
  
  .clicked .three {
    transform: translateY(-15px) rotate(-45deg);
  }
  .menu_icon_container{
    width: 2.3rem;
  }

.menu_title{
    display: none;
    cursor: pointer;
}
